.end-card{
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    background-color: white;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    z-index: 3;

    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
  }

  .end-card.active {
    opacity: 1;
    transform: scale(1);
  }
  

  .end-card .purple-top {
    background-color: purple;
    height: 50px;
    width: 100%;
  }

  .end-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .end-card h1{
    font-family: var(--arc-black);
    font-size: 1.8em;
    color: var(--black);
  }

  .end-card span{
    font-family: var(--mons);
    font-size: 1.3em;
    color: rgb(75, 73, 73);
    margin-bottom: 15px;
  }

  .end-card button{
    font-family: var(--prompt);
    font-size: 1em;
    padding: 10px 20px;
    margin: 7px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    border: none;
  }

  .end-card button:hover{
    background-color: rgb(97, 1, 97);
  }


  @media only screen and (max-width: 769px) {

    .end-card{
      width: 250px;
      top: calc(50% - 125px);
      left: calc(50% - 125px);    
    
    }
  
    .end-content{
      padding-bottom: 15px;
    }
  
    .end-card h1{
      font-size: 1.3em;
      font-family: var(--archivo);
      font-weight: 800;
    }
  
    .end-card span{
      font-size: 1em;
      margin-bottom: 10px;
    }
  
    .end-card button{
      font-size: 0.8em;
      margin: 5px;
    }
  }