.timer {
  display: flex;
  align-items: center;
  padding: 0 3em 0 1em;
  margin: 2em 2em 0 2em;
  position: relative;
}

.timer-bar-container {
  border-radius: 5px;
  border: 1px solid var(--black);
  height: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 15px;
}

.timer-bar {
  height: 10px;
}

.remaining-time {
  position: absolute;
  right: 0;
  margin: 10px;
  font-family: var(--prompt);
}
